/* css seleceoter */
header {
    font-size: larger;
    background-color: antiquewhite;
    height: 13px;
    width: 13px;
    padding: 18px;
    margin: 83px;
    align-content: center;
}

main {
    font-size: medium;
    /* background-color: cornflowerblue; */
}

footer {
    font-size: small;
    background-color: indianred;
}

/* classes can belong to many elements, ids only belong to one */
.extrainfo {
    font-size: 0.75em;
    text-align: center;
}

/* pseudo class */
a:hover {
    color: red;
}
